@model SimpleWeb.Areas.WebFrontArea.Models.mycapitalViewModel
@{
    Layout = "~/Views/_WebLayout.cshtml";
}
<div class="bootbox modal fade in" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">提供帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="publishnotices()">发  布</button>
            </div>
        </div>
    </div>
</div>
<div class="bootbox modal fade in" id="box-config1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">接受帮助</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="publishnotices()">发  布</button>
            </div>
        </div>
    </div>
</div>
<div class="topic">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb hidden-xs">
                <li><a href="index.html">Home</a></li>
                <li class="active">我的资产信息</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="accordions"><span>我的资产信息</span></h2>
            <hr />
            <div class="col-sm-6">
                <div class="info-board info-board-red">
                    <h2>静态资金信息</h2>
                    <ul class="checkout">
                        <li>静态资金：￥@Model.mycapitalinfo.StaticCapital</li>
                        <li>利息金额：￥@Model.mycapitalinfo.StaticInterest</li>
                        <li>冻结金额：￥@Model.mycapitalinfo.StaticFreezeMoney</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Info Board Blue -->
                <div class="info-board info-board-blue">
                    <h2>动态资金信息</h2>
                    <ul class="checkout">
                        <li>动态资金：￥@Model.mycapitalinfo.DynamicFunds</li>
                        <li>利息金额：￥@Model.mycapitalinfo.DynamicInterest</li>
                        <li>冻结金额：￥@Model.mycapitalinfo.DynamicFreezeMoney</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <a class="btn-animate btn-style btn-d btn-primary" data-toggle="modal" href="#box-config"  style="float: left; margin-left: 30px;">提供帮助</a>
                <a class="btn-animate btn-style btn-d btn-primary" data-toggle="modal" href="#box-config1"  style="float: right; margin-right: 30px;">接受帮助</a>
            </div>
        </div>
    </div>
</div>
