<div style="max-width:745px">
    <p> 第一条 劳动合同期限</p>
 
　　<p>(一)劳动合同期</p>
 
　<p>　本合同期限采用下列方式。</p>
 
　<p>　1、有固定期限：本合同期限为 年，自 年 月 日起至 年 月 日止。</p>
 
　<p>　2、无固定期限：本合同期限自年月日开始履行，至法定条件出现时终止履行。</p>
 
　<p>　(二)试用期</p>
 
　　<p>双方同意按以下第种方式确定试用期(试用期包含在劳动合同期内)：</p>
 
　<p>　1、试用期从自 年 月 日起至 年 月 日止。</p>
 
　<p>　第二条 工作内容</p>
 
　　<p>1、甲方根据生产(工作)需要，安排乙方在 生产(工作)岗位，并为乙方提供必要的生产(工作)条件。</p>
 
　<p>　2、乙方应按照甲方对本岗位生产(工作)任务和责任制的要求，完成规定的数量、质量指标。</p>
 
　　<p>第三条 劳动保护、劳动条件和职业培训</p>
 
　<p>　1、甲方必须建立健全劳动安全卫生制度和操作规程、工作规范，并对乙方进行安全卫生教育，杜绝违章操作和违章指挥。</p>
 
　<p>　2、甲方必须为乙方提供符合国家规定的劳动安全卫生条件和必要的劳动防护用品，必须告知乙方所从事的工作(生产)岗位，存在职业危害因素的名称、可能产生的职业病危害及后果按国家规定定期安排从事职业危害工作的乙方进行健康检查。</p>
 
　<p>　3、实行对女工和未成年工的特殊保护和女职工在孕期、产期、哺乳期间，甲方按国家规定为其提供劳动保护。
 </p>
　<p>　4、甲方应根据需要对乙方进行必要的职业培训或为乙方接受职业培训提供必要的条件。</p>
 
　<p>　第四条 劳动纪律</p>
 
　<p>　1、甲方应当依法制定和健全内部规章制度和劳动纪律，依法对乙方进行规范和管理。</p>
 
　<p>　2、乙方应严格遵守甲方依法制定的各项规章制度，服从甲方的管理。</p>
 
　<p>　第五条 工作时间和休息、休假</p>
 
　<p>　1、甲方安排乙方实行第项工作制。</p>
 
　<p>　(1)、标准工作制：甲方安排乙方每日工作时间不超过八小时，每周不超过四十小时。甲方保证乙方每周至少休息一日。甲方由于工作需要，经与工会和乙方协商后可
 
　<p>　以延长工作 时间，一般每日不得超过一小时。因特殊需要延长工作时间的，在保障乙方身体健康的条件下，延长工作时间每日不得超过三小时，每月不得超过三十六小时。</p>
 
　　<p>(2)、综合计算工时工作制。</p>
 
　　<p>(3)、不定时工作制。</p>
 
　　<p>2、甲方按规定给予乙方享受法定休假日、年休假、婚假、丧假、探亲假、产假、看护假等带薪假期。</p>
 
　　<p>第六条 劳动报酬</p>
 
　<p>　1、甲方按照本市最低工资结合本单位工资制度支付乙方工资报酬。
 
　　具体标准工资为 元/月。，乙方试用期工资为 元/月。</p>
 
　　<p>2.甲方每月 日支付乙方(当月/上月)工资。如遇法定休假日或休息日，则提前到最近的工作日支付。</p>
 
　<p>　3、甲方安排乙方加班加点工作，应按国家规定的标准安排补休或支付加班加点工资。加班加点工资的发放时间为。</p>
 
　<p>　第七条 保险福利</p>
　<p>　1、甲方必须依照国家和地方有关规定，参加社会保险，按时足额缴纳和代扣代缴乙方的社会保险费(包括养老、失业、医疗、工伤、女工生育等保险)。</p>
 
　　<p>2、甲方可以根据本企业的具体情况，依法制定内部职工福利待遇实施细则。乙方有权依此享受甲方规定的福利待遇。</p>
 
　　<p>第八条 合同的变更</p>
 
　<p>　具有下列情形之一的，双方可以变更本合同：</p>
 
　<p>　1、双方协商同意的;</p>
 
　<p>　2、由于不可抗力或合同订立时依据的其他客观情况发生重大变化致使本合同无法履行的。本项所称重大变化主要指甲方调整生产项目，机构调整、撤并等。</p>
 
　<p>　第九条 合同的终止</p>
 
　<p>　具有下列情形之一，本合同应即终止：</p>
 
　<p>　1、本合同期限届满;</p>

　<p>　2、乙方达到法定退休条件的;</p>
 
　<p>　3、法律法规规定的其他终止情形</p>

</div>
