<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <title>网站正在维护---稍后即将呈现精彩内容</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="@Url.Content("/css/wstyle.css")" rel="stylesheet">
    <link href="@Url.Content("/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("/css/animate.css")" rel="stylesheet">
    <link href='http://fonts.useso.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
</head>

<body class="coming-soon">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img src="/img/fix.jpg" style="width: 268px; height: 201px; float: right;" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <!-- Main Content -->
                <h1 class="text-center">系统正在维护...</h1>
                <p class="lead text-center">
                    我们目前正在为我们的网站整理一些新的功能。<br />
                    请您耐心等待.....
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="countdown"></div>
            </div>
        </div>
    </div>
</body>
</html>
