@model SimpleWeb.Models.webfooterViewModel
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h3>推广链接</h3>
            <p>
                <a href="@Model.Linkurl" target="_blank" id="linkurl">@Model.Linkurl</a>
                <br />
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">            
        </div>
    </div>
</div>
